<ul class="text-center">
  <% @users.each do |user| %>
    <li>    
    <span>Name: <%= link_to user.name, user %></span>
    <span>Lastname: <%= user.lastname%></span>
    <br>
    <% if user != current_user %>
      <%= button_to 'Add as a friend', friendships_url(friend_id: user.id), method: :post %> 
         
    <% end %>
    </li> 
    <br>
  <% end %>
</ul>
