<ul class="text-center">
  <% @users.each do |user| %>
    <li>    
    <span>Name: <%= user.name %></span>
    <span>Lastname: <%= user.lastname%></span>
    <br>    
    </li> 
    <br>
  <% end %>
</ul>
