
@import "bootstrap-sprockets";
@import "bootstrap";

body {
 background-color: #e9ebee;
} 
  
  textarea {
    resize: vertical;
  }
  
  .center {
    text-align: center;
    h1 {
      margin-bottom: 10px;
    }
  }
  
  
  h1, h2, h3, h4, h5, h6 {
    line-height: 1;
  }
  
  h1 {
    font-size: 3em;
    letter-spacing: -2px;
    margin-bottom: 30px;
    text-align: center;
  }
  
  h2 {
    font-size: 1.2em;
    letter-spacing: -1px;
    margin-bottom: 30px;
    text-align: center;
    font-weight: normal;
    color:black;
  }
  
  h3 {
    color: #777;
  }
  
  p {
    font-size: 1.1em;
    line-height: 1.7em;
  }
  
  
  .header-info {
      margin-right: 10px;
      font-size: 12px;
      font-family:Roboto, Helvetica, Arial, sans-serif;
      color: white;
      letter-spacing: -1px;
      padding-top: 9px;
      font-weight: bold;
      height: 82px;
      width: 100%;
    }
    
    .navbar-nav li a {
        color: black;
        list-style: none;
    
    }
    
  
.nav {
    background-color: #29487d;
}

.user-info img {
  margin: 0 auto;
}

.edit-header {
  margin: 0;
}


#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

textarea {
  width: 100%;
  border-radius: 15px;
  border-style: solid;
  padding: 10px;
}

.post-info {
  padding-right: 50px;
  box-sizing: border-box;
  text-align: center;
  .posts {
    list-style: none;
    padding-left: 0;
    li{
      background-color: white;
      border-radius: 7px;
      width: 100%;
      margin-bottom: 10px;
      padding: 15px;
    }
  }
}

.btn-publish {
  width: 95%;
  margin-top: 10px;  
  border-radius: 15px;
}

.user-info {
  margin-bottom: 10px;
  img {
    border-radius: 100%;
    background-color: red;
  }
  p {
    font-weight: 600;
    margin: 0;
  }  
}

.edit-header {
  font-weight: 600;
  font-size: 1.7em;
}

.edit_user {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  .field {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
    input {
      width: 300px;
      padding: 13px;
      border-radius: 5px;
      border-style: solid;
    }
  }
}

.actions input {
  color: #fff;
  background-color: #337ab7;
  border: #2e6da4 1px solid;
  border-radius: 15px;
  padding: 7px;
  width: 200px;
  font-weight: 600;
}

.alert-alert {
  background-color: red;
  color: #721C24;
  background-color: #F8D7DA;
  border-color: #F5C6CB;
  font-weight: 600;
}

.alert-notice {
  color: #155724;
  background-color: #D4EDDA;
  border-color: #C3E6CB;
  font-weight: 600;
}

.new_user {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  .field {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
  }
  .field-1{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    label {
      margin: 0 0 0 5px;
    }
    input {
      margin: 0;
    }
  }
}

