
@import "bootstrap-sprockets";
@import "bootstrap";

body {
 background-color: #e9ebee;
} 
  
  textarea {
    resize: vertical;
  }
  
  .center {
    text-align: center;
    h1 {
      margin-bottom: 10px;
    }
  }
  
  
  h1, h2, h3, h4, h5, h6 {
    line-height: 1;
  }
  
  h1 {
    font-size: 3em;
    letter-spacing: -2px;
    margin-bottom: 30px;
    text-align: center;
  }
  
  h2 {
    font-size: 1.2em;
    letter-spacing: -1px;
    margin-bottom: 30px;
    text-align: center;
    font-weight: normal;
    color:black;
  }
  
  h3 {
    color: #777;
  }
  
  p {
    font-size: 1.1em;
    line-height: 1.7em;
  }
  
  
  .header-info {
      margin-right: 10px;
      font-size: 12px;
      font-family:Roboto, Helvetica, Arial, sans-serif;
      color: white;
      letter-spacing: -1px;
      padding-top: 9px;
      font-weight: bold;
      height: 82px;
      width: 100%;
    }
    
    .navbar-nav li a {
        color: black;
        list-style: none;
    
    }
    
  
.nav {
    background-color: #29487d;
}

.user-info img {
  margin: 0 auto;
}

.edit-header {
  margin: 0;
}


#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

textarea {
  width: 100%;
}

.post-info {
  padding-right:50px;
  box-sizing: border-box;
  text-align: center;
}

.btn-publish {
  width: 95%;
  margin-top: 10px;
  
}
